#listBtn {
    position: absolute;
    left: 670px;
    top: 150px;
}

#updateBtn {
    position: absolute;
    left: 730px;
    top: 150px; /* 조정 가능한 값 */
}

#deleteBtn {
    position: absolute;
    left: 790px;
    top: 150px; /* 조정 가능한 값 */
}

#comment-write{
    position: absolute;
    left: 650px;
    top: 200px;
}
