#index_email {
    position: absolute;
    left: 1000px;
    top: 25px;
}


#index_password {
    position: absolute;
    left: 1180px;
    top: 25px;
}


#index_login {
    position: absolute;
    left: 1360px;
    top: 25px;
}

#index_join{
    position: absolute;
    left: 1430px;
    top: 25px;
}

#information{
    position: absolute;
    left: 1100px;
    top: 10px;
}

#index_logout {
    position: absolute;
    left: 1430px;
    top: 25px;
}

#index_detail{
    position: absolute;
    left: 1360px;
    top: 25px;
}