<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>내 정보</title>
    <link rel="stylesheet" type="text/css" href="detail.css">
    <link rel="stylesheet" type="text/css" href="index.css">
    <th:block th:include="index.html::head"></th:block>
</head>
<body>


<!-- controller에서 member로 담아서 줫으니 member로 접근 -->
<table align="center">
    <tr>
        <td>이메일 :</td>
        <td th:text="${member.memberEmail}"></td>
    </tr>
    <tr>
        <td>비밀번호 :</td>
        <td th:text="${member.memberPassword}"></td>
    </tr>
    <tr>
        <td>닉네임 :</td>
        <td th:text="${member.memberName}"></td>
    </tr>
</table>

<form action="/" method="get">
    <button onclick="home()"> 이전 </button>
</form>

<form action="/member/update" method="get">
    <button onclick="update()"> 정보 수정 </button>
</form>

</body>
<script>
    const home = () => {
        location.href="/";
    }

    const update = () => {
        location.href="/member/update";
    }
</script>
</html>
