<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link rel="stylesheet" type="text/css" href="../nav.css">
    <link rel="stylesheet" type="text/css" href="../join.css">
</head>
<body>

<div th:replace="/fragments/nav.html :: fragment-nav"></div>


<div class="container">
    <form action="/member/join" method="post">
        이메일 : <input type="text" name="memberEmail" class="input-field"> <br>
        비밀번호 : <input type="password" name="memberPassword" class="input-field"> <br>
        이름 : <input type="text" name="memberName" class="input-field"> <br>
        <input type="submit" value="회원가입" class="submit-button">
    </form>
    <form action="/" method="get">
        <input type="submit" value="취소" class="submit-button">
    </form>
</div>

</body>
</html>
